CompileFlags:
  Add:
    - "-fno-ms-extensions"
    - "--include-directory=/usr/include/c++/13/"
    - "--include-directory=/usr/include/x86_64-linux-gnu/c++/13/"
  CompilationDatabase: None

Index:
  Background: Skip

Diagnostics:
  ClangTidy:
    Add: []
    Remove: [modernize-*, readability-*]
    CheckOptions: {}

Completion:
  AllScopes: false
